@import "./mixin";

.cards {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1080px;
  @include respond(phone) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  > :not(:last-child) {
    margin-right: 20px;
  }
}
