* {
  margin: 0;
  padding: 0;
}
.App {
  display: flex;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.App > aside {
  flex: 1;
  background-color: var(--color-back);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  mix-blend-mode: darken;
}

:root {
  --color-prime: rgba(20, 26, 22, 0.856);
  --color-back: rgba(242, 253, 255, 0.658);
}
